.landingpage {
    display: grid;
    gap: 1em 2em;
    margin: auto;
    width: 50%;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    border: 1px solid rgba(0, 0, 0, 0.3);
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(255, 255, 255);
}

.kmom-box.projekt {
    grid-column: span 3;
}

@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.projekt {
        grid-column: span 4;
    }
}

.kmom-box h2 {
    color: rgb(255, 255, 255);
    margin-left: 0.5em;
    margin-top: 0.2em;
    font-size: 25px;
}

.kmom-box img {
    float: right;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.kmom-box .rubrik {
    background-color: rgb(51, 51, 51);
}

.kmom-box p {
    font-size: 15px;
    margin-top: 0.2em;
    margin-left: 1em;
    color: rgb(110, 110, 110);
}
